.login-button {
    background-color: green;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

/* Styling for the authentication page container */
.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

/* Box styling for login/signup forms */
.auth-box {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Styling for tabs */
.auth-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-link {
    background: none;
    border: none;
    color: #007bff;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
}

.tab-link.active, .tab-link:hover {
    color: #0056b3;
    border-bottom: 2px solid #007bff;
}

/* Form styling */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.auth-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.auth-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.auth-submit:hover {
    background-color: #0056b3;
}
